.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signInInput {
  padding: 10px;
  border-radius: 15px;
  width: 300px;
  font-size: 15px;

  &:user-invalid {
    border: 2px solid red;
  }

  &:user-valid {
    border: 2px solid green;
  }
}

.signInBtn {
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  width: 300px;
  margin-bottom: 10px;
}